In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.Series?
pd.DataFrame?

In [ ]:
my_pets = ['lion', 'cat', 'dog', 'bull']
my_pets

['lion', 'cat', 'dog', 'bull']

In [ ]:
pd.Series(my_pets) #converting our list to Series oobjeects with indexes

0    lion
1     cat
2     dog
3    bull
dtype: object

In [ ]:
#We can write our own indexes
my_days= ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
my_courses = ['physics', 'chemistry', 'maths', 'biology', 'social']

pd.Series(my_courses)

0      physics
1    chemistry
2        maths
3      biology
4       social
dtype: object

In [ ]:
pd.Series(my_courses, index = my_days)  #we can get error if my_days size is not equal to my_courses size.

monday         physics
tuesday      chemistry
wednesday        maths
thursday       biology
friday          social
dtype: object

In [ ]:
days = pd.Series(['monday', 'tuesday', 'wednesday'], index = ['Day1', 'Day2', 'Day3'])
days

Day1       monday
Day2      tuesday
Day3    wednesday
dtype: object

In [ ]:
courses = pd.Series(['physics', 'chemistry', 'math'], index = 'Day1 Day2 Day3'.split()) #split on basis of blank space
courses

Day1      physics
Day2    chemistry
Day3         math
dtype: object

In [ ]:
days+courses #concatenation based on index

Day1       mondayphysics
Day2    tuesdaychemistry
Day3       wednesdaymath
dtype: object

In [ ]:
days + ' ko ' + courses

Day1       monday ko physics
Day2    tuesday ko chemistry
Day3       wednesday ko math
dtype: object

In [ ]:
#Loc and iloc
#loc gets rows(or columns) with particular labels(name) from the index
#iloc gets rows(or columns) at particular positions in the index and it takes integers.

In [ ]:
sports = {'football' : 'spain',
          'NBA' : 'USA',
          'cricket' : 'INDIA',
          'athletics' : 'Jamaica'
          }

sports_series = pd.Series(sports)
sports_series

football       spain
NBA              USA
cricket        INDIA
athletics    Jamaica
dtype: object

In [ ]:
sports_series.loc['cricket']

'INDIA'

In [ ]:
sports_series.iloc[2]

'INDIA'

#Dataframe Introduction

In [ ]:
np.random.randn(10,5)  #10*5

array([[ 0.5588168 , -0.2434407 , -0.66057528,  0.65607736,  0.91999502],
       [-0.97426101,  1.84264909,  1.0469961 ,  1.59770085, -0.5839004 ],
       [-1.21856445, -1.10579259,  1.06512032, -0.79958344, -0.36052981],
       [ 2.27689565, -0.33580718, -0.59704024,  1.48459095, -0.20566235],
       [ 1.61103435, -1.61378898,  1.88471865, -1.91426497,  1.13646113],
       [ 0.67133746, -0.57731104,  0.66711538,  2.70114916, -0.60397704],
       [-1.88781392, -0.57639998,  0.76504433, -0.27021916, -1.60259781],
       [ 1.22527688, -1.40030279,  1.5338151 ,  0.00299801,  1.37990995],
       [ 0.28652156, -0.48465181, -0.98646309, -0.68120607, -1.24205087],
       [-0.94407777, -0.03910753,  0.63045536, -1.26944089,  0.65759541]])

In [ ]:
my_df = pd.DataFrame(np.random.randn(10,5), index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(), columns='col1 col2 col3 col4 col5'.split())
my_df

           col1      col2      col3      col4      col5
row1   0.405155  0.010542  0.316735  0.904959 -0.202550
row2  -0.252804 -0.098024  0.548319 -0.689292 -2.267026
row3   1.575148 -0.186921  1.067738 -0.325810 -0.078166
row4  -0.915600 -1.195401  0.134622 -1.967968  1.119960
row5   1.330535  0.578485  1.167893  1.246108  0.198400
row6   0.367601  0.946344  0.667240 -0.276461 -0.327276
row7   0.306867  0.320269 -0.029817 -0.503668 -0.359468
row8  -0.825964  0.936048 -0.285617  0.383011 -1.142140
row9   0.720283 -0.020566 -1.101283  0.061534  1.923305
row10 -0.074201  0.209371 -1.726828  0.671599  0.136492

In [ ]:
type(my_df['col1'])

pandas.core.series.Series

Selection and Indexing on Pandas DataFrame

In [ ]:
my_df['col2']  #selecting a single  column

row1     0.010542
row2    -0.098024
row3    -0.186921
row4    -1.195401
row5     0.578485
row6     0.946344
row7     0.320269
row8     0.936048
row9    -0.020566
row10    0.209371
Name: col2, dtype: float64

In [ ]:
my_df[['col1', 'col2', "col4"]] #selectoing muotiple columns

           col1      col2      col4
row1   0.405155  0.010542  0.904959
row2  -0.252804 -0.098024 -0.689292
row3   1.575148 -0.186921 -0.325810
row4  -0.915600 -1.195401 -1.967968
row5   1.330535  0.578485  1.246108
row6   0.367601  0.946344 -0.276461
row7   0.306867  0.320269 -0.503668
row8  -0.825964  0.936048  0.383011
row9   0.720283 -0.020566  0.061534
row10 -0.074201  0.209371  0.671599

Reading a Dataset into Pandas DataFrame

In [ ]:
#cat Automobile.csv

In [ ]:
data = pd.read_csv('Automobile.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Automobile.csv'

In [ ]:
data.head() #shows first 5 rows
data.tail() #shows last 5 rows

Adding a Column to the Pandas DataFrame

In [ ]:
my_df['col6'] = my_df['col1']*2
my_df

Dropping columns and Rows in Pandas DataFrame

In [ ]:
my_df.drop('col4', axis=1)  #use axis=1 to drop column
#it makes a new dataframe and does not change the original my_df dataframe

In [ ]:
my_df.drop('col4', axis=1, inplace=True)  #inplace makes the changes in real dataframe
my_df

In [ ]:
my_df.drop('row3',axis=0, inplace=True)
my_df

In [ ]:
my_df.iloc[1]

In [ ]:
my_df.loc['row6', 'col5']

How to reset index in Pandas DataFrame

In [ ]:
my_df.index

In [ ]:
my_df['spin'] = ['sp1', 'sp3', 'sp4', 'sp5', 'sp6', 'sp7', 'sp8', 'sp9', 'sp10']

In [ ]:
my_df
my_df.set_index('spin', inplace = True)
my_df

Rename a column in Pandas

In [ ]:
my_df.rename(columns={
    'col1':'first',
    'col2':'second',
    'col3':'third',
    'col5':'fifth',
    'col6':'sixth',
}, inplace=True)

my_df

Pandas tail(), column and Index

In [ ]:
data['make']
data.columns
data.index

Check for missing or Null Values

In [ ]:
data.isnull()
data.isnull().sum()

Pandas Describe Function

In [ ]:
data.describe()
data.describe().T

Conditional Selection with Pandas

In [ ]:
data.head()
data['price']
data['price'].max()
data[data["price"]>40000]
data[data["price"]>20000][['make', 'price']] #make and price of cars whose price>20000
data[(data['make']=='volvo')&(data['price']<50000)] #volvo cars under 50000

Dealing with Null Values using Pandas

In [ ]:
df = pd.DataFrame({
    'val1' : [100,np.nan,234,np.nan],
    'val2' : [300,121,np.nan,np.nan],
    'val3' : ['XUI', 'VYU', 'NMA', 'IUY']
})

df.head()

In [ ]:
df.isnull()
df.isna() #same as isnull()
df.isna().sum()

In [ ]:
df.fillna(df.mean(numeric_only=True), inplace=True)
df

Sort Values in Pandas

In [ ]:
df.sort_values(by='val2', ascending=True)

Pandas Groupby

In [ ]:
data.groupby('fuel_type').count()

In [ ]:
data['make'].value_counts()  #counts each item in the 'make' column

Pandas Concatenation Function

In [ ]:
mm = {
    'one' : [2,3,1,4,5],
    'two' : [5,4,3,2,1],
    'letter' : ['a', 'a', 'b', 'b', 'c']
}

In [ ]:
mm

In [ ]:
mm1 = pd.DataFrame(mm)

In [ ]:
mm1

In [ ]:
new_df = pd.concat([df,mm1]) #use the concat to put together two dataframes

In [ ]:
new_df

In [ ]:
new_df1 = pd.concat([df,mm1], axis=1)

In [ ]:
new_df1

Join And Merge(Creating Dataset)

In [ ]:
#DataFrame of number of Sales made by an employee
sales = {
    'Jones' : 10000,
    'Chris' : 5000,
    'Piyush' : 440,
    'Meera' : 6700,
    'Rahul' : 300
}

#DataFrame of all employees and the region they work in
region = {
    'Jones':'west',
    'Chris':np.nan,
    'Piyush':'west',
    'Meera':np.nan,
    'Anthony':'east',
    'Ellen':'south',
    'Josh' : 'west',
    'Simran': 'East',
    'Oscar' : 'North',
}

In [ ]:
sales_df = pd.DataFrame.from_dict(sales,orient = 'index', columns = ['sales'])
region_df = pd.DataFrame.from_dict(region,orient = 'index', columns = ['region'])
sales_df
region_df

Pandas JOIN

In [ ]:
joined_df = region_df.join(sales_df, how='left') #left join
joined_df

In [ ]:
joined_df2 = region_df.join(sales_df, how='inner') #inner join
joined_df2

In [ ]:
joined_df3 = region_df.join(sales_df, how='right')  #right join
joined_df3

Pandas Merge

In [ ]:
#give title to the index column
region_df.index.name='names'
sales_df.index.name='names'

In [ ]:
region_df

In [ ]:
print(pd.merge(region_df, sales_df, on='names'))  #merge on a key

In [ ]:
print(pd.merge(region_df, sales_df, on='names', how='left'))

Checking for GPU

In [ ]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()

if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
else:
  print('Found GPU device at : {}'.format(device_name))